---
layout: archive
title: "Notes"
permalink: /notes/
author_profile: true
---

{% include base_path %}
<marquee>For Mobile Viewer's: To view the embedded pdf's please open the site on desktop. Thank you!</marquee>
<a data-type="countdown" data-id="3381406" class="tickcounter" style="display: block; width: 100%; position: relative; padding-bottom: 25%" title="Countdown" href="//www.tickcounter.com/">Countdown</a><script>(function(d, s, id) { var js, pjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) return; js = d.createElement(s); js.id = id; js.src = "//www.tickcounter.com/static/js/loader.js"; pjs.parentNode.insertBefore(js, pjs); }(document, "script", "tickcounter-sdk"));</script>
{% for post in site.notes %}
  {% include archive-single.html %}
{% endfor %}
